@model IA.ViewModels.AllAssetsVM

<div class="all-assets-container">
    <div class="asset-controls">
        <button id="new-asset" class="btn btn-primary">New Asset</button>
    </div>
    <table class="table  table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Ticker</th>
            <th>Type</th>
            <th>@* Edit *@</th>
            <th>@* Prices *@</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var asset in Model.Assets)
            {
                <tr>
                    <td>@asset.Title</td>
                    <td>@asset.Ticker</td>
                    <td>@asset.AssetType.ToString()</td>
                    <td><button type="button" class="btn btn-link edit-asset" data-asset-id="@asset.Id">Edit</button></td>
                    <td><button type="button" class="btn btn-link asset-prices" data-asset-id="@asset.Id">Prices</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>