@model IA.ViewModels.AllTransactionsVM

<div class="all-transactions-container">
    <table class="table table-hover">
        <thead>
            <tr>            
                <th>Type</th>
                <th>Asset</th>
                <th>Open Price</th>
                <th>Open Date (UTC)</th>
                <th>Amount</th>
                <th>Commission</th>
                <th>Currency</th>
                <th>Close Date (UTC)</th>
                <th>Close Price</th>
                <th>@* Close *@</th>
                <th>@* Edit *@</th>
                <th>@* Delete *@</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr id="@("tr-" + @transaction.Id)">
                <td>@transaction.TransactionType.ToString()</td>
                <td>@transaction.Asset.Title (@transaction.Asset.Ticker)</td>
                <td>@transaction.OpenPrice</td>
                <td>@transaction.OpenDateUtc.ToShortDateString()</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Commission</td>
                <td>@transaction.Currency</td>

                @if (transaction.CloseDateUtc == null)
                {
                    <td><input id="@("close-date-" + transaction.Id)" type="text" class="form-control date-control" value="@DateTime.UtcNow.ToShortDateString()"></td>
                    <td><input id="@("close-price-" + transaction.Id)" type="text" class="form-control"></td>
                    <td><button type="button" class="btn btn-link close-position" data-transaction-id="@transaction.Id">Close</button></td>
                }
                else
                {
                    <td>@transaction.CloseDateUtc.Value.ToShortDateString()</td>
                    <td>@transaction.ClosePrice</td>
                    <td>@* Close *@</td>
                }

                <td><button type="button" class="btn btn-link edit-position" data-transaction-id="@transaction.Id">Edit</button></td>
                <td><button type="button" class="btn btn-link delete-position" data-transaction-id="@transaction.Id">Delete</button></td>

            </tr>
        }
        </tbody>
    </table>
</div>